<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::body})">
'
    <head>
        <meta charset="UTF-8">
        <title>Boulders</title>

        <link rel="stylesheet" href="../../static/resources/css/bootstrap.min.css">
        <script src="../../static/resources/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="d-flex justify-content-between mb-2">
            <h1 class="text-left text-primary">Boulders</h1>
            <a class="btn btn-lg btn-primary m-2" href="#" th:href="@{/climbs/boulder/create}">Add Boulders</a>
        </div>

        <table class="table table-hover">
            <thead class="table-primary">
                <th>Name</th>
                <th>Sector</th>
                <th>Area</th>
                <th>Grade</th>
                <th>Status</th>
                <th>Edit</th>
            </thead>
            <tr th:each="boulder : ${boulders}">
                <td th:text="${boulder.name}">Baby Cthulhu</td>
                <td th:text="${boulder.sector}">Burning Man</td>
                <td th:text="${boulder.area}">Boulderfields</td>
                <td th:text="${boulder.grade}">V7</td>
                <td th:text="${boulder.status}">R</td>
                <td><a href="#" th:href="@{'/climbs/boulder/' + ${boulder.id} + '/edit'}" class="link-primary">Edit</a></td>
            </tr>
            <tr th:remove="all">
                <td>Dangleberries</td>
                <td>Dominator</td>
                <td>Boulderfields</td>
                <td>V6</td>
                <td>R</td>
                <td><a href="#" class="link-primary">Edit</a></td>
            </tr>
            <tr th:remove="all">
                <td>Detour Stand</td>
                <td>Driven</td>
                <td>Boulderfields</td>
                <td>V8</td>
                <td>C</td>
                <td><a href="#" class="link-primary">Edit</a></td>
            </tr>
        </table>

    </body>
</html>