<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::body})">

<head>
    <meta charset="UTF-8">
    <title>Routes</title>

    <link rel="stylesheet" href="../../static/resources/css/bootstrap.min.css">
    <script src="../../static/resources/js/bootstrap.min.js"></script>
</head>
<body>

<h1 class="text-center text-primary">Add Pitch</h1>

<div class="mx-auto w-75">
    <form th:object="${pitch}" th:action="@{/log/pitch/new_pitch/}" method="post">
        <input type="hidden" th:field="*{id}" />
        <select class="form-select mb-3" th:field="*{climb}">
            <option value="5.10a" th:each="route : ${routes}" th:value="${route.id}" th:text="${route}">Tale of Two Guys, 5.13c</option>
            <option value="5.10b" th:remove="all">State of Love and Trust, 5.12a</option>
            <option value="5.10c" th:remove="all">The Spell, 5.12a</option>
        </select>
        <div class="form-floating mb-3 mt-3">
            <input type="date" class="form-control" id="date" th:field="*{date}">
            <label for="date">Date</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="partner" placeholder="Partner" th:field="*{partner}">
            <label for="partner">Partner</label>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-md-1">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="onsight" name="status" th:value="O" th:field="*{type}" checked>
                    <label class="form-check-label" for="onsight">Onsight</label>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="flash" name="status" th:value="F" th:field="*{type}">
                    <label class="form-check-label" for="flash">Flash</label>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="redpoint" name="status" th:value="R" th:field="*{type}">
                    <label class="form-check-label" for="redpoint">Redpoint</label>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="climbed" name="status" th:value="C" th:field="*{type}">
                    <label class="form-check-label" for="climbed">Climbed</label>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="attempt" name="status" th:value="A" th:field="*{type}">
                    <label class="form-check-label" for="attempt">Attempt</label>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="work" name="status" th:value="W" th:field="*{type}">
                    <label class="form-check-label" for="work">Work</label>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="toprope" name="status" th:value="T" th:field="*{type}">
                    <label class="form-check-label" for="toprope">Toprope</label>
                </div>
            </div>
        </div>
        <div class="form-floating mb-3 mt-3">
            <textarea class="form-control" style="height:100px" id="notes" name="notes" placeholder="Notes..." th:field="*{notes}"></textarea>
            <label for="notes">Notes...</label>
        </div>

        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
</div>

</body>
</html>