<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::body})">

<head>
    <meta charset="UTF-8">
    <title>Routes</title>

    <link rel="stylesheet" href="../../static/resources/css/bootstrap.min.css">
    <script src="../../static/resources/js/bootstrap.min.js"></script>
</head>
<body>

<h1 class="text-center text-primary">Add Boulder Problem</h1>

<div class="mx-auto w-75">
    <form th:object="${boulder}" th:action="@{/climbs/boulders/new_boulder/}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="name" placeholder="Name" name="name" th:field="*{name}">
            <label for="name">Name</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="sector" placeholder="Sector" name="sector" th:field="*{sector}">
            <label for="sector">Sector</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="area" placeholder="Area" name="area" th:field="*{area}">
            <label for="area">Area</label>
        </div>
        <div class="row mx-auto mb-2">
            <div class="col-md-2">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="onsight" name="status" th:value="O" th:field="*{status}" checked>
                    <label class="form-check-label" for="onsight">Onsight</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="flash" name="status" th:value="F" th:field="*{status}">
                    <label class="form-check-label" for="flash">Flash</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="redpoint" name="status" th:value="R" th:field="*{status}">
                    <label class="form-check-label" for="redpoint">Redpoint</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="climbed" name="status" th:value="C" th:field="*{status}">
                    <label class="form-check-label" for="climbed">Climbed</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="goal" name="status" th:value="G" th:field="*{status}">
                    <label class="form-check-label" for="goal">Goal</label>
                </div>
            </div>
        </div>
        <select class="form-select mb-3" th:field="*{grade}">
            <option value="5.10a" th:each="grade : ${grades}" th:value="${grade.id}" th:text="${grade}">5.10a</option>
            <option value="5.10b" th:remove="all">5.10b</option>
            <option value="5.10c" th:remove="all">5.10c</option>
        </select>
        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
</div>

</body>
</html>