<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::body})">

    <head>
        <meta charset="UTF-8">
        <title>Routes</title>

        <link rel="stylesheet" href="../../static/resources/css/bootstrap.min.css">
        <script src="../../static/resources/js/bootstrap.min.js"></script>
    </head>

    <body>

        <div class="d-flex justify-content-between mb-2">
            <h1 class="text-left text-primary">Boulder Sessions</h1>
            <a class="btn btn-lg btn-primary m-2" href="#" th:href="@{/log/bouldersession/create}">Add Boulder Sessions</a>
        </div>

        <table class="table table-hover">
            <thead class="table-primary">
                <th>Name</th>
                <th>Grade</th>
                <th>Date</th>
                <th>Spotters</th>
                <th>Attempts</th>
                <th>Type</th>
                <th>Notes</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tr th:each="boulderSession : ${boulderSessions}">
                <td th:text="${boulderSession.climb.name}">Name</td>
                <td th:text="${boulderSession.climb.grade}">Grade</td>
                <td th:text="${#strings.substring(#temporals.monthName(boulderSession.date), 0, 3) +
                            ' ' + #temporals.day(boulderSession.date) +
                            ', ' + #temporals.year(boulderSession.date)}">Date</td>
                <td th:text="${boulderSession.spotters}">Spotters</td>
                <td th:text="${boulderSession.attempts}">15</td>
                <td th:text="${boulderSession.type}">Type</td>
                <td th:text="${boulderSession.notes}">Notes</td>
                <td><a href="#" th:href="@{'/log/bouldersession/' + ${boulderSession.id} + '/edit'}" class="link-primary">Edit</a></td>
                <td><a href="#" th:href="@{'/log/bouldersession/' + ${boulderSession.id} + '/delete'}" class="link-primary">Delete</a></td>
            </tr>
        </table>

    </body>
</html>