<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::body})">

    <head>
        <meta charset="UTF-8">
        <title>Routes</title>

        <link rel="stylesheet" href="../../static/resources/css/bootstrap.min.css">
        <script src="../../static/resources/js/bootstrap.min.js"></script>
    </head>

    <body>

        <div class="d-flex justify-content-between">
            <h1 class="text-left text-primary">Pitches</h1>
            <a class="text-right btn btn-primary m-2" href="#" th:href="@{/log/pitch/create}">Add Pitch</a>
        </div>

        <table class="table table-hover">
            <thead class="table-primary">
                <th>Name</th>
                <th>Grade</th>
                <th>Date</th>
                <th>Partner</th>
                <th>Type</th>
                <th>Notes</th>
                <th>Edit</th>
            </thead>
            <tr th:each="pitch : ${pitches}">
                <td th:text="${pitch.route.name}">Name</td>
                <td th:text="${pitch.route.grade}">Grade</td>
                <td th:text="${#strings.substring(#temporals.monthName(pitch.date), 0, 3) +
                                ' ' + #temporals.day(pitch.date) +
                                ', ' + #temporals.year(pitch.date)}">Date</td>
                <td th:text="${pitch.partner}">Partner</td>
                <td th:text="${pitch.type}">Type</td>
                <td th:text="${pitch.notes}">Notes</td>
                <td><a href="#" class="link-primary">Edit</a></td>
            </tr>
        </table>

    </body>
</html>